<%= simple_form_for(@user) do |f| %>

<%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  	<%= f.input :email %>
  	<% if action_name ==  'edit'%>
  		<%= f.input :password %>
  		<%= f.input :password_confirmation %>
  	<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
