<% content_for(:title, 'Users List') %>

<div style="margin-bottom: 10px">
  <%= link_to 'Add New User', new_user_path, class: "btn btn-success" %>
</div>
  
<table class="table table-striped">
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

