<%= simple_form_for(@record, html: { class: 'form-vertical' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div class="form-inputs">

		<%= f.input :user_id, collection: get_all_users %>

    <%= f.input :date, as: :string, input_html: { class: 'date_picker', value: l(f.object.date)}  %>

  	<%= f.input :impressions, :wrapper => :prepend, :label => false do %>
  	  <%= content_tag :span, "Impressions", :class => "add-on" %>
  	  <%= f.input_field :impressions %>
  	<% end %>  
	
		<%= f.input :ecpm, :wrapper => :prepend, :label => false do %>
		  <%= content_tag :span, "eCPM", :class => "add-on" %>
		  <%= f.input_field :ecpm %>
		<% end %>  

		<%= f.input :revenue, :wrapper => :prepend, :label => false do %>
		  <%= content_tag :span, "Revenue", :class => "add-on" %>
		  <%= f.input_field :revenue %>
		<% end %>  

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
