<table class="table table-striped">
  <tr>
    <th>Impressions</th>
    <th>eCPM</th>
    <th>Revenue</th>
    <th>Date</th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.impressions %></td>
    <td><%= record.ecpm %></td>
    <td>$<%= record.revenue %></td>
    <td><%= l record.date %></td>
    <% if is_admin? %>
      <td><%= record.user.name %></td>
      <td>
        <%= link_to 'Edit', edit_record_path(record) %>
        <%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @records %>