<ul class="thumbnails">
	<li id="impressions" class="span4 tile tile-purple">
		<h1></h1>
		<h3>Impressions</h3>
	</li>
	<li id="ecpm" class="span4 tile tile-green">
		<h1></h1>
		<h3>eCPM</h3>
	</li>
	<li id="revenue" class="span4 tile tile-teal">
		<h1></h1>
		<h3>Revenue</h3>
	</li>
</ul>