<% content_for(:title, 'Dashboard') %>

<% content_for( :header ) do %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js' %>
  <%= javascript_include_tag 'http://cdn.oesmith.co.uk/morris-0.4.1.min.js' %>
<% end %>


<% if is_admin? %>
  <div style="margin-bottom: 10px">
    <%= link_to 'New Record', new_record_path, class: 'btn btn-success' %>      
  </div>
<% else %>
  <div class="alert alert-info">
    All Numbers are subject to review and finalized numbers may differ slightly at the end of month.
    <a class="close" data-dismiss="alert" href="#">&times;</a>
  </div>
<% end %>

<%= render 'tiles' %>

<div class="well">
  <%= simple_form_for( records_path, method: 'get', html: { class: 'form-vertical' }) do |f|%>

   <% if is_admin? %>
    <%= f.input :user_id, collection: get_all_users %>
   <% end %>

   <div class="input-prepend">
    <span class="add-on">From</span> 
    <%= f.input_field :start_date,
             as: :string, 
              class: 'date_picker', value: l(@start_date)
    %>
  </div>

  <div class="input-prepend">
   <span class="add-on">To</span> 
    <%= f.input_field :end_date,
             as: :string, 
             class: 'date_picker', value: l(@end_date)
    %>
  </div>

  <%= f.button :submit, 'Update' , class: 'btn btn-info' %>


  <% end %>
</div>

<%= javascript_tag do %>
  window.records = <%= raw @records.to_json %>
<% end %>  

<% if !is_admin? %>
  <div class="well">
    <div id="chart"></div>
  </div>
<% end %>

<%= render 'table' %>



