<p>Welcome <%= @resource.name %>!</p>

<p>Your password is:  <%= @resource.password %></p>

<p>Kindly, confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Socialoholic</p>
