<div class="row">
	<header>
		<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
		    <%= link_to root_path, class: 'brand' do %>
		    	Socialoholic <sub>Beta</sub>
		    <% end %>
		    <ul class="nav">
		    	<% if user_signed_in? %>
		    		<li><%= link_to 'Dashboard', records_path %></li>
		    		<% if is_admin? %>
		    			<li><%= link_to 'Users', users_path %></li>
	    			<% end %>
    			<% end %>
		    </ul>
		    <ul class="nav pull-right">
		    	<% if user_signed_in? %>
		    		
	    		  <li class="dropdown">
	    		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	    		      <%= current_user.name %>
	    		      <b class="caret"></b>
	    		    </a>
	    		    <ul class="dropdown-menu">
	    		    	<li><%= link_to 'Edit Details', edit_user_registration_path %></li>
	    		      <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
	    		    </ul>
	    		  </li>
	    		
		    		
	    		<% else %>
	    			<li><%= link_to 'Sign up', new_user_registration_path %></li>
	    			<li><%= link_to 'Sign in', new_user_session_path %></li>
    			<% end %>
		    </ul>
		  </div>
		</div>
	</header>
</div>