<!DOCTYPE html>
<html>
<head>
 	<title><%= content_for?(:title) ? yield(:title) + " - " : "" %> Socialoholic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:header) if content_for?(:header) %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/navigation' %>
		
		<div class="row">
			<%= render 'layouts/messages' %>
		</div>

		<div class="row">
			<%= yield %>
		</div>

	</div>

</body>
</html>
